@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">

@await Component.InvokeAsync("_HeadUserLayoutComponentPartial")
<body>
    @await Component.InvokeAsync("_HeaderUserLayoutComponentPartial")
   
    @await Component.InvokeAsync("_MobileMenuUserLayoutComponentPartial")
    
    @await Component.InvokeAsync("_NavbarUserLayoutComponentPartial")
    
    @await Component.InvokeAsync("_BreadCombUserLayoutComponentPartial")
    
    @RenderBody()
    
    @await Component.InvokeAsync("_FooterUserLayoutComponentPartial")

</body>

</html>