@model ResetPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h2>Şifre Yenileme Sayfası</h2>
    <form method="post">
        <label>Yeni Şifre </label>
        <input type="text" asp-for="Password" class="form-control" />
        <br />
        <label>Yeni Şifre Tekrar</label>
        <input type="text" asp-for="ConfirmPassword" class="form-control" />
        <br />
        <button class="btn btn-succes">Şifreyi Güncelle</button>
    </form>
</div>